test/__pycache__
*~
*.pyc
.project
.pydevproject
src/ modCrawler/jobs
src/ modCrawler/run
src/ modCrawler/tmp
.vagrant
*.retry
*apk
/ubuntu-xenial-16.04-cloudimg-console.log
/ApkAnalyzer-1.0-SNAPSHOT-jar-with-dependencies.jar
/CQ281TS99BS8UPTH21PLDYQPBS1BELULES38UTFM.zip
capture*.pcap
.aux
*.aux
*.log
*.bbl
*.blg
*.out
/auto
/permissions.db
samples_analysis
apks
/piechart_repeated_permissions.svg
*.svg
virtualenv
venv
*.csv
*.db
*.arff
old_weka_models
fdroid_apks
*zip
*mat
*bak
*obj
*mexw32
*mexw64
FederatedS4vm
tensorflow_models
federateds4vm_tensorflow/tensorflow_cookbook/
federateds4vm_tensorflow/model
federateds4vm_tensorflow/svm_model
federateds4vm_tensorflow/octave-workspace
*exe
*.a
*.o
train
predict

*idx
*ilg
*ind
main.pdf


octave-workspace
/preinstalled_apks_analysis
/dataset*
/drebin/
*.pickle
*.joblib
*.npz
flycheck*py
auto

!test/clients.csv
!test/cloud.csv
results_*
/paper/pets2021.3/summary_of_changes.pdf
lim_code/features.txt
